fastapi
uvicorn


#for template  #new
jinja2 

#for static files
aiofiles
#for database   #new
#libpq-dev 
sqlalchemy         
psycopg2

#for loading environment variables  #new
python-dotenv

#for loading environment variables
python-dotenv

#for email validation            #new
pydantic[email] 
#hashing              #new
passlib[bcrypt] 

#for testing       #new
pytest
requests

pre-commit