{% extends "base.html" %}

{% block title %}FastAPI Starter{% endblock %}
{% block head %}

{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}
<main role="main" class="container-fluid">
    <div class="row">
        <div class="col">
            {{data.text|safe}}
        </div>
    </div>
</main><!-- /.container -->



<script type="text/javascript" src="{{ url_for('static', path='/js/autojs.js') }}"></script>
<!-- <script type="text/javascript" src="/home/serg/python311_proj/fastapi/site/static/js/autocomplete.js"></script> -->
<!-- <input class="search-box" name="query" id="autocomplete" type="text" placeholder="Search" aria-label="Search"> -->
<!-- <button class="btn btn-outline-success" type="submit">Search</button> -->


{{data.page}}
<!-- скрывает поле drop-zone -->
<script>
     $( "#container_drop" ).hide();

    // скрипт autocomplete
    $(function() {
  $( "#control_e_mail" ).autocomplete({
  source: "/mch",
  minLength: 3
  });
  });
//  .............. тут были фуекции websocket и другие. эта вырезка в файле "insert file.txt"

//   ************  функция провеки строки на соответствие e-mail тут не задействована ***********
function isValidEmailAddress(emailAddress) {
    var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
    return pattern.test(emailAddress);
}
//   ************   ***********



 // и скрывает или показывает поле drop-zone c id=my-great-dropzone  ***********
$(document).ready(function(){
    
    var message_text = $('#Email').text()
    $('#control_e_mail').keyup(function(){
        var messages = document.getElementById('Email')
        var type_content = $(this).val();
        // var message = document.createElement('p')
        // messages.appendChild(message)
        // messages.text(type_content)
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        // console.log(message_text);
        // console.log(type_content);
        // $('#Email').append(type_content);
        $('#Email').each(function () {
        $('#Email').text(message_text + type_content);
        });
        
        // тут скрывает или показывает поле drop-zone по условию соответствия e-mail  ***********
          if ( !emailReg.test( type_content ) ||  $(this).val().length == 0  ) {
            // alert('Please enter valid email');
            $( "#container_drop" ).show();
        } else {
            // alert('Thank you for your valid email');
            $( "#field_term" ).text(type_content);
            $( "#container_drop" ).show();
        }
    });
 });

</script>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}

{% endblock %}